[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinkscape = "*"
docopt = "*"
pytest = "*"
svg-to-gcode = "*"

[dev-packages]

[requires]
python_version = "3.10"
